<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image %>" alt="<%= post.title %>"/>
      <div class="row justify-content-between">
        <!-- Like Button -->
        <form class="col-1" action="/post/likePost/<%= post._id %>?_method=PUT" method="POST">
          <button class="btn btn-primary fa fa-heart" type="submit" aria-label="Like"></button>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <!-- Delete Button (Visible only to the post author) -->
        <% if (post.user.toString() === user._id.toString()) { %>
        <form action="/post/deletePost/<%= post._id %>?_method=DELETE" method="POST" class="col-3">
          <button class="btn btn-primary fa fa-trash" type="submit" aria-label="Delete"></button>
        </form>
        <% } %>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= post.caption %></p>
    </div>
    <div class="col-12 mt-5">
      <h2>Add a comment</h2>
      <form action="/comment/createComment/<%= post._id %>" method="POST">
        <div class="mb-3">
          <label for="comment" class="form-label">Comment</label>
          <input type="text" class="form-control" id="comment" name="comment" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <h2>Comments</h2>
    <div class="col-12 mt-5">
      <ul class="list-group">
        <% comments.forEach(comment => { %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span><%= comment.comment %></span>
          <div class="btn-group">
            <!-- Edit Button for Each Comment -->
            <a href="/comment/editComment/<%= comment._id %>" class="btn btn-secondary fa fa-edit" aria-label="Edit"></a>
            <!-- Delete Button for Each Comment -->
            <form action="/comment/deleteComment/<%= comment._id %>?_method=DELETE" method="POST">
              <button class="btn btn-danger fa fa-trash" type="submit" aria-label="Delete"></button>
            </form>
          </div>
        </li>
        <% }); %>
      </ul>
    </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>


